/* loginPage.module.css */
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: #ffffff;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.loginForm input {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.loginForm button {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #007bff;

  cursor: pointer;
}

.loginPageError {
  color: red;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  margin: 20px;
  margin-top: 10px;
  border-radius: 5px;
}